@media (min-width: 250px) {
    .navWrapper {
        display: none;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 5px;
        color: red;
        font-weight: bold;
        height: 50px;
        background-color: #1a81b7;
    }

    a {
        padding: 10px;
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: #1d334f;
        text-decoration: underline;
    }

    .selected {
        color: #1d334f;
        text-decoration: underline;
    }
}

@media (min-width: 760px) {
    .navWrapper {
        display: flex;
    }
}